.right li {
	position: relative;
}

.dropdown {
	background: #fff;
	position: absolute;
	top: 1px;
	margin-top: 43px;
	z-index: 100;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 10px;
	right: 0;

	&:before {
		position: absolute;
		top: -8px;
		right: 15px;
		content: '';
		border-bottom: 12px solid #fff;
		border-left: 12px solid transparent;
		border-right: 12px solid transparent;
	}
	.icon-orientation {
		font-size: 5px;
	}

	.icon-row {
		width: 12px;
		height: 6px;
		background: #000;
		border-radius: 3px;
		display: inline-block;
	}
	.icon-columns {
		width: 6px;
		height: 12px;
		background: #000;
		border-radius: 3px;
		display: inline-block;
	}

	.icon-single {
		width: 12px;
		height: 12px;
		background: #000;
		border-radius: 3px;
		display: inline-block;
	}

	&.list {
		li {
			border-bottom: 1px solid #efefef;
			display: flex;
			align-items: center;
			height: 50px;
			cursor: pointer;
			user-select: none;
		}
	}

	li {
		color: #000;

		&.resize {
			.icon-right {
				cursor: default;
			}
			input {
				padding: 5px 10px;
				width: 100%;
				min-width: 100px;
				box-sizing: border-box;
				outline: none;
				border: 1px solid #ccc;
			}
		}

		.label {
			flex-grow: 1;
			padding: 12px 24px;
			padding-left: 0;
			white-space: nowrap;

			&:hover {
				color: #777;
			}
		}

		.icon-right {
			padding: 10px 20px;
			padding-right: 10px;
			text-align: center;
			width: 20px;

			img {
				vertical-align: bottom;
			}
		}

		&:last-child {
			border-bottom: none;
		}
	}
}

[data-section="1"] {
	.dropdown {
		.copy,
		.sync {
			.fa-arrow-left {
				display: none;
			}
		}
	}
}

[data-section="2"] {
	.dropdown {
		.copy,
		.sync {
			.fa-arrow-right {
				display: none;
			}
		}
	}
}