@font-face {
	font-family: 'FontAwesome';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/font-awesome.woff') format('woff');
}
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/source-sans-pro.woff') format('woff');
}