[data-view="rows"] {
	li.screen {
		display: none !important;
	}
	.splitview {
		flex-direction: column; // Row
	}
	section {
		flex-grow: 1;
		display: flex;
		flex-direction: column;

		.iframe {
			position: relative;
			display: flex;
			flex-grow: 1;
			iframe {
				width: 100%;
			}
		}
	}

	.dropdown li.rows {
		display: none;
	}

	[data-section="1"] {
		position: relative;
		.dropdown li.site {
			display: none;
		}
	}

	[data-section="2"] {
		.dropdown li.panel {
			display: none;
		}
	}
	
	.left {

	}
	.right {
		display: none;
	}
}