[data-view="columns"] {
	section {
		flex-grow: 1;
		display: flex;
		flex-direction: column;

		.iframe {
			position: relative;
			display: flex;
			flex-grow: 1;
			iframe {
				width: 100%;
			}
		}
	}

	.dropdown li.columns {
		display: none;
	}

	[data-section="1"] {
		width: 799px;
		flex-grow: 0;
		position: relative;

		.dropdown li.site {
			display: none;
		}

		.bar {
			border-right: 1px solid #555;
		}

		@media only screen and (max-width: 1600px) {
			width: 50%;
			flex-grow: 0;
		}
	}

	[data-section="2"] {
		.dropdown li.panel {
			display: none;
		}
	}

	.button-sync {
		.fa-long-arrow-up,
		.fa-long-arrow-down {
			display: none;
		}
	}
}