[data-view="columns"] {
	section {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		position: relative;

		.iframe {
			position: relative;
			display: flex;
			flex-grow: 1;
			iframe {
				width: 100%;
			}
		}
	}

	.dropdown li.columns {
		display: none;
	}

	[data-section="1"] {		
		.bar {
			border-right: 1px solid #555;
		}
	}

	/*.button-sync {
		.icon-arrow-up,
		.icon-arrow-down {
			display: none;
		}
	}*/
}