[data-view="rows"] {
	.splitview {
		flex-direction: column; // Row
	}
	section.panel,
	section.site {
		flex-grow: 1;
		display: flex;
		flex-direction: column;

		.iframe {
			position: relative;
			display: flex;
			flex-grow: 1;
			iframe {
				width: 100%;
			}
		}
	}

	.dropdown li.rows {
		display: none;
	}

	section.panel {
		.dropdown li.site {
			display: none;
		}
	}

	section.site {

		.dropdown li.panel {
			display: none;
		}

		.bar {
			border-top: 1px solid #555;
		}
	}
	.bar {
		border-bottom: 1px solid #555;
		display: flex;

		.left {
			flex-grow: 1;
		}
	}

	.bar .right {
		display: flex;
		align-items: center;

		>li {
			border-left: 1px solid #555;
			color: #fff;
			cursor: pointer;
			height: 43px;
			display: flex;
			align-items: center;

			&:hover {
				color: #999;
			}
		}
	}
	section.nav {
		display: none;
	}
	.left {

	}
	.right {
		display: none;
	}
}