.message {
	position: absolute;
	color: #fff;
	text-align: center;
	line-height: 48px;
	right: 0;
	height: 48px;
	width: 0;
	box-sizing: border-box;
	height: 48px;
	opacity: 0;
	transition: width 0.3s ease-out, opacity .25s ease-out;
	display: flex;
	justify-content: center;
	align-items: center;

	img {
		vertical-align: bottom;
		width: 20px;
		height: 20px;
	}

	&.message-saved {
		background: #368C3D;
	}

	&.message-error {
		background: #b3000a;
	}

	&.active {
		opacity: 1;
		width: 56px;
		transition: all 0s ease 0s;
	}
}