* {
	padding: 0;
	margin: 0;
}

html,
body,
.splitview {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

<<<<<<< HEAD
.splitview {
	font-family: 'Source Sans Pro';
}

li {
	list-style: none;
}

iframe {
	border: none;
=======
li {
	list-style: none;
>>>>>>> origin/master
}