@font-face {
	font-family: 'FontAwesome';
	font-style: normal;
	font-weight: 400;
	src: url({{font-awesome}}) format('woff');
}
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	src: url({{source-sans-pro-400}}) format('woff');
}

@import '_font-awesome-custom';

.splitview {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2100000000;

	&--hide {
		display: none;
	}

	&--crop {
		overflow: hidden;
	}

	&--meta {
		color: #fff;
		position: fixed;
		right: 0;
		top: 0;
		border-left: 1px solid #555;
	}
	&--columns &__section {
		height: 100%;
		float: left;
	}
	&--columns &--site {
		width: calc( 100% - 799px );

		@media screen and (max-width: 1600px) {
			width: 50%;
		}
	}
	&--columns &--panel {
		width: 799px;

		@media screen and (max-width: 1600px) {
			width: 50%;
		}
	}
	&--rows &__section {
		width: 100%;
		height: 50%;
	}
	&--panel {
		background: #eee;
	}
	&--site {
		background: #fff;
	}

	// Meta buttons
	&--columns &--meta &__item--columns {
		display: none;
	}
	&--rows &--meta &__item--rows {
		display: none;
	}

	&__item--sync {
		display: block;
	}

	// Full screen
	&__full--panel &__item--full,
	&__full--site &__item--full,
	&__full--panel &__item--sync,
	&__full--site &__item--sync {
		display: none;
	}

	// View
	&__item--panel,
	&__item--site,
	&__item--back {
		display: none;
	}

	&__full--panel &__item--back,
	&__full--site &__item--back {
		display: block;
	}

	&__full--panel &--meta &__item--columns,
	&__full--panel &--meta &__item--rows,
	&__full--site &--meta &__item--columns,
	&__full--site &--meta &__item--rows {
		display: none;
	}

	// Full panel
	&__full--panel &--panel {
		height: 100%;
		width: 100%;
	}
	&__full--panel &--site {
		display: none;
	}

	// Hard links
	&__full--panel &__item--panel {
		display: block;
	}
	&__full--site &__item--site {
		display: block;
	}

	// Full site
	&__full--site &--site {
		height: 100%;
		width: 100%;
	}
	&__full--site &--panel {
		display: none;
	}

	&--columns &--site &__nav {
		border-left: 1px solid #555;
	}

	&__nav {
		background: #000;
		color: #fff;
		border-bottom: 1px solid #555;

		&:after {
			content: '';
			clear: both;
			display: table;
		}
	}
	&__item {
		float: left;
		padding: 0 20px;
		height: 48px;
		line-height: 48px;
		cursor: pointer;
		font-family: 'Source Sans Pro', Arial;
		font-size: 16px;
		border-right: 1px solid #555;
		position: relative;

		&__hover {
			display: none;
			color: #fff;
		}

		&:hover &__hover {
			display: block;
			position: fixed;
			top: 49px;
			left: 0;
			background: #000;
			width: 100%;
			padding: 0 20px;
			line-height: 48px;
			height: 48px;
		}

		&:hover,
		&:hover a {
			color: #999;
		}

		&--home,
		&--panel,
		&--site {
			padding: 0;
		}
	}

	&__link {
		color: #fff;
		padding: 0 20px;
		display: block;
		position: relative;

		&:hover {
			color: #fff;
		}
	}
	&__text {
		margin-left: 10px;
		display: inline-block;

		@media screen and (max-width: 1140px) {
			display: none;
		}
	}

	iframe {
		width: 100%;
		height: calc( 100% - 48px );
	}
}