@font-face {
	font-family: 'FontAwesome';
	font-style: normal;
	font-weight: 400;
	src: url({{font-awesome}}) format('woff');
}
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	src: url({{source-sans-pro-400}}) format('woff');
}

@import '_font-awesome-custom';

.splitview {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2100000000;

	@media screen and (max-width: 680px) {
		display: none;
	}

	&--hide {
		display: none;
	}

	&--crop {
		overflow: hidden;
	}

	&--meta {
		color: #fff;
		position: fixed;
		right: 0;
		top: 0;
		border-left: 1px solid #555;
	}
	&--columns &__section {
		height: 100%;
		float: left;
	}
	&--columns &--site {
		width: calc( 100% - 799px );

		@media screen and (max-width: 1600px) {
			width: 50%;
		}
	}
	&--columns &--panel {
		width: 799px;

		@media screen and (max-width: 1600px) {
			width: 50%;
		}
	}
	&--rows &__section {
		width: 100%;
		height: 50%;
	}
	&--panel {
		background: #eee;
	}
	&--site {
		background: #fff;
	}

	// Columns site nav
	&--columns &--site &__nav {
		border-left: 1px solid #555;
	}
	&__full--site &--site &__nav {
		border-left: none;
	}

	// Meta buttons
	&--columns &--meta &__item--columns {
		display: none;
	}
	&--rows &--meta &__item--rows {
		display: none;
	}

	// Full screen
	&__full--panel &__item--full,
	&__full--site &__item--full,
	&__full--site &__item--sync {
		display: none;
	}

	// View
	&--panel &__item--columns,
	&--site &__item--columns {
		display: none;
	}
	&__full--panel &__item--columns,
	&__full--site &__item--columns {
		display: block;
	}

	// Full panel
	&__full--panel &--panel {
		height: 100%;
		width: 100%;
	}
	&__full--panel &--site {
		display: none;
	}

	// Full site
	&__full--site &--site {
		height: 100%;
		width: 100%;
	}
	&__full--site &--panel {
		display: none;
	}

	&__nav {
		background: #000;
		color: #fff;
		border-bottom: 1px solid #555;

		&:after {
			content: '';
			clear: both;
			display: table;
		}
	}
	&__item {
		float: left;
		padding: 0 20px;
		height: 48px;
		line-height: 48px;
		cursor: pointer;
		font-family: 'Source Sans Pro', Arial;
		font-size: 16px;
		border-right: 1px solid #555;

		&--home {
			padding: 0;
		}
	}
	&__link {
		color: #fff;
		padding: 0 20px;
		display: block;

		&:hover {
			color: #fff;
		}
	}
	&__text {
		margin-left: 10px;
		display: inline-block;

		@media screen and (max-width: 1140px) {
			display: none;
		}
	}

	iframe {
		width: 100%;
		height: calc( 100% - 48px );
	}
	&__message {
		display: none;
		position: fixed;
		height: 100%;
		width: 100%;
		background: #000;
		top: 0;
		left: 0;
		color: #fff;
		font-size: 16px;
		font-family: 'Source Sans Pro', Arial;
		padding: 40px;
		box-sizing: border-box;

		@media screen and (max-width: 680px) {
			display: block;
		}
	}

	&__message {
		&.splitview--hide {
			display: none;
		}
	}
}