@font-face {
	font-family: 'FontAwesome';
	font-style: normal;
	font-weight: 400;
	src: url({{font-awesome}}) format('woff');
}
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	src: url({{source-sans-pro-400}}) format('woff');
}

@import '_font-awesome-custom';

.splitview {
	&--hide {
		display: none !important;
	}
	&--full {
		width: 100% !important;
	}
	&--crop {
		overflow: hidden;
	}
	&--rows {
		.splitview__panel {
			box-sizing: border-box;
			border-bottom: 2px solid #000;
		}
		.splitview__panel,
		.splitview__site {
			width: 100%;
			height: 50%;
		}
	}
	&__wrap {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: calc( 100% - 48px );
		z-index: 2100000000;

		@media screen and (max-width: 680px) {
			display: none;
		}
	}

	&__message {
		display: none;
		position: fixed;
		height: 100%;
		width: 100%;
		background: #000;
		top: 0;
		left: 0;
		color: #fff;
		font-size: 16px;
		font-family: 'Source Sans Pro', Arial;
		padding: 40px;
		box-sizing: border-box;

		@media screen and (max-width: 680px) {
			display: block;
		}
	}

	&__menu {
		width: 100%;
		height: 48px;
		top: 0;
		left: 0;
		z-index: 2100000000;
		position: absolute;
		background: #000;
		color: #fff;
		font-family: 'Source Sans Pro', Arial;
		font-size: 16px;
		border-bottom: 1px solid #555;

		span {
			@media screen and (max-width: 1140px) {
				display: none;
			}
		}

		&--panel,
		&--site,
		&--close {
			> div {
				line-height: 48px;
				display: block;
				color: #fff;
				padding: 0 20px;
				cursor: pointer;

				&:hover {
					color: #999;
				}
			}
		}

		&--panel,
		&--site {
			float: left;

			> div {
				float: left;

				a {
					color: #fff;

					&:hover {
						color: #999;
					}
				}
			}

			i {
				margin-right: 10px;

				@media screen and (max-width: 1140px) {
					margin-right: 0;
				}
			}

			a i {
				margin-right: 0;
			}
		}

		&__item {
			&--link {
				padding: 0 !important;
				a {
					display: block;
					padding: 0 20px;
				}
			}
		}

		&--panel {
			width: 799px;

			@media screen and (max-width: 1600px) {
				width: 50%;
			}

			> div {
				border-right: 1px solid #555;
			}
		}
		&--site {
			> div {
				border-left: 1px solid #555;

				&:last-child {
					border-right: 1px solid #555;
				}
			}
		}
		&--close {
			float: right;

			> div {
				float: left;
				border-left: 1px solid #555;
			}
		}
	}
	&__columns {
		height: 100%;
		margin-top: 48px;
	}

	&__panel {
		width: 799px;
	}
	&__site {
		width: calc( 100% - 799px );
	}

	&__panel,
	&__site {
		height: 100%;
		float: left;

		@media screen and (max-width: 1600px) {
			width: 50%;
		}

		iframe {
			width: 100%;
			height: 100%;
			border: none;
		}
	}
}

/*
[data-preview="true"] {
	overflow: hidden;
}
*/