<<<<<<< HEAD
@import 'states/dropdown';

@import '_fonts';
@import '_reset';
@import '_font-awesome-custom';
@import '_overlay';
@import '_elements';
@import '_grid-columns';
@import '_grid-rows';
@import '_panel';
@import '_site';
@import '_message';
@import '_cards';
@import '_dropdown';
@import 'icons';
@import 'tool2';
=======
@import '_font-awesome-custom';
@import '_reset';
@import '_dropdown';

@font-face {
	font-family: 'FontAwesome';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/font-awesome.woff') format('woff');
}
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/source-sans-pro.woff') format('woff');
}

.splitview {
	font-family: 'Source Sans Pro';
}

.iframe {
	height: calc(100% - 38px);

	iframe {
		width: 100%;
		height: 100%;
		border: none;
	}
}

section {
	position: relative;
	height: 100%;
}

nav {
	background: #000;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #555;
}

.message {
	position: absolute;
	color: #fff;
	text-align: center;
	line-height: 48px;
	padding: 0 20px;
	right: 0;
	height: 48px;
	width: 0;
	box-sizing: border-box;
	height: 48px;
	opacity: 0;
	transition: width 0.3s ease-out, opacity .25s ease-out;

	&.message-saved {
		background: #8dae28;
	}

	&.message-error {
		background: #b3000a;
	}

	&.active {
		opacity: 1;
		width: 56px;
		transition: all 0s ease 0s;
	}
}

.panel nav {
	border-right: 1px solid #555;
}

.overlay {
	//background: rgba(141, 174, 40, .5);
	background: rgba(30, 30, 30, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	position: absolute;
	display: none;
}
.overlay-message {
	background: #fff;
	box-shadow: rgba(0, 0, 0, 0.2) 0 2px 10px;
	padding: 20px;
	border-radius: 3px;
}

.button {
	font-weight: 600;
	padding: 10px 20px;
	border-radius: 100px;
	cursor: pointer;
	font-size: 16px;
	margin-bottom: 10px;
	background: #eee;
	border-radius: 3px;
	border: 2px solid rgba(0,0,0,.1);

	.fa {
		width: 20px;
	}

	&:last-child {
		margin-bottom: 0;
	}

	&:hover {
		background: #000;
		color: #fff;
	}
}
.button-sync {
	.fa-long-arrow-right {
		padding-left: 10px;
	}
	.fa-long-arrow-left {
		padding-right: 10px;
	}
	.fa-long-arrow-up,
	.fa-long-arrow-down {
		padding-right: 10px;
	}
}

li {
	padding: 0 15px;
	height: 38px;
	line-height: 38px;
	font-size: 16px;
	cursor: pointer;
	color: #fff;
	position: relative;

	&.active {
		background: #8dae28;
		color: #fff;

		&:hover {
			color: #fff;
		}
	}

	&:hover {
		color: #999;
	}
}

ul.left {
	box-sizing: border-box;
	flex-grow: 1;
	display: flex;
	
	li {
		border-right: 1px solid #555;
	}

	li.url {
		flex-grow: 1;
		padding-left: 0;
		border-right: none;

		input {
			width: 100%;
			display: block;
			height: 38px;
			box-sizing: border-box;
			border: none;
			outline: none;
			padding-left: 10px;
			padding-right: 10px;
			background: #000;
			color: #fff;
		}
	}
}

ul.right {
	flex-grow: 0;
	display: flex;

	>li {
		border-left: 1px solid #555;
	}
}

[data-overlay="sync"] {
	.overlay {
		display: flex;
	}
}

[data-view="grid"][data-orientation="columns"],
[data-view="grid"][data-orientation="rows"] {
	ul.left {
		li.rows,
		li.columns {
			display: none;
		}
	}
}

// Columns
[data-view="grid"][data-orientation="columns"] {
	.splitview {
		display: flex;
	}

	section.panel {
		flex-grow: 0;
		width: 799px;
		@media screen and (max-width: 1600px) {
			width: 50%;
		}

		.button-sync .fa-long-arrow-down {
			display: none;
		}

		li.close-panel,
		li.columns,
		li.rows,
		li.close-dropdown,
		li.sync {
			display: none;
		}
	}
	section.site {
		flex-grow: 1;

		.button-sync .fa-long-arrow-up {
			display: none;
		}

		li.close-site {
			display: none;
		}
	}
	li.sync-up,
	li.sync-down {
		display: none;
	}

	ul.right {
		li.columns {
			display: none;
		}
		.dropdown {
			li.close-site {
				display: block;
			}
		}
	}
}

// Rows
[data-view="grid"][data-orientation="rows"] {
	section {
		height: 50%;
		width: 100%;
	}

	section.panel {
		.button-sync .fa-long-arrow-right {
			display: none;
		}

		li.close-panel {
			display: none;
		}
		.dropdown {
			li.close-panel {
				display: block;
			}
		}
	}

	section.site {
		.button-sync .fa-long-arrow-left {
			display: none;
		}

		li.close-site,
		li.columns,
		li.rows,
		li.close-dropdown,
		li.sync {
			display: none;
		}
	}

	li.sync-left,
	li.sync-right {
		display: none;
	}

	ul.right {
		li.rows {
			display: none;
		}
	}
}

// Panel
[data-view="panel"] {
	section.site {
		display: none;
	}
	section.panel {
		li.panel {
			display: none;
		}
	}
}

// Site
[data-view="site"] {
	section.panel {
		display: none;
	}
	section.site {
		li.site {
			display: none;
		}
	}
}

// Panel + Site
[data-view="panel"],
[data-view="site"] {
	li.sync-right,
	li.sync-left,
	li.sync-down,
	li.sync-up,
	li.close-dropdown {
		display: none;
	}

	ul.right {
		li.rows,
		li.columns {
			display: none;
		}
	}

	&[data-orientation="columns"] {
		ul.left{
			li.rows {
				display: none;
			}
		}
	}

	&[data-orientation="rows"] {
		ul.left {
			li.columns {
				display: none;
			}
		}
	}
}

.scale-50 {
	font-size: 8px;
}
>>>>>>> origin/master
