// States
@import 'states/dropdown';
@import 'states/flip';
@import 'states/columns';
@import 'states/rows';
@import 'states/input';

@import '_fonts';
@import '_reset';
@import '_overlay';
@import '_grid-columns';
@import '_grid-rows';
@import '_message';
@import '_dropdown';
@import 'icons';
@import 'menus';
@import 'section';
@import 'bar';
@import 'sizes';
@import 'zoom';

.splitview {
	display: flex;
	height: 100%;
	width: 100%;
}

.debug {
	display: none !important;
}