.dropdown {
	display: none;
}

[data-bar="1"] {
	&[data-dropdown="flash"] {
		[data-section="1"] .flash .dropdown {
			display: block;
		}
	}
	&[data-dropdown="screen"] {
		[data-section="1"] .screen .dropdown {
			display: block;
		}
	}
	&[data-dropdown="views"] {
		[data-section="1"] .views .dropdown {
			display: block;
		}
	}
	&[data-dropdown="close"] {
		[data-section="1"] .close .dropdown {
			display: block;
		}
	}
}

[data-bar="2"] {
	&[data-dropdown="flash"] {
		[data-section="2"] .flash .dropdown {
			display: block;
		}
	}
	&[data-dropdown="screen"] {
		[data-section="2"] .screen .dropdown {
			display: block;
		}
	}
	&[data-dropdown="views"] {
		[data-section="2"] .views .dropdown {
			display: block;
		}
	}
	&[data-dropdown="close"] {
		[data-section="2"] .close .dropdown {
			display: block;
		}
	}
}

li.autosync {
	.default {
		display: block;
	}
	.inverted {
		display: none;
	}
}

[data-autosync] {
	li.autosync {
		background: #368C3D;
		color: #fff;

		.default {
			display: none;
		}
		.inverted {
			display: block;
		}

		.label:hover {
			color: #fff !important;
		}
	}
}