.dropdown {
  display: none; }

[data-bar="1"][data-dropdown="flash"] [data-section="1"] .flash .dropdown,
[data-bar="1"][data-dropdown="screen"] [data-section="1"] .screen .dropdown,
[data-bar="1"][data-dropdown="views"] [data-section="1"] .views .dropdown,
[data-bar="1"][data-dropdown="close"] [data-section="1"] .close .dropdown,
[data-bar="1"][data-dropdown="zoom"] [data-section="1"] .zoom .dropdown {
  display: block; }

[data-bar="2"][data-dropdown="flash"] [data-section="2"] .flash .dropdown,
[data-bar="2"][data-dropdown="screen"] [data-section="2"] .screen .dropdown,
[data-bar="2"][data-dropdown="views"] [data-section="2"] .views .dropdown,
[data-bar="2"][data-dropdown="close"] [data-section="2"] .close .dropdown,
[data-bar="2"][data-dropdown="zoom"] [data-section="2"] .zoom .dropdown {
  display: block; }

li.autosync .default {
  display: block; }

li.autosync .inverted {
  display: none; }

[data-autosync] li.autosync {
  background: #368C3D;
  color: #fff; }
  [data-autosync] li.autosync .default {
    display: none; }
  [data-autosync] li.autosync .inverted {
    display: block; }
  [data-autosync] li.autosync .label:hover {
    color: #fff !important; }

[data-flip="true"][data-view="columns"] .splitview {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

[data-flip="true"][data-view="columns"] [data-section="1"] .copy .icon-arrow-right,
[data-flip="true"][data-view="columns"] [data-section="1"] .sync .icon-arrow-right {
  display: none; }

[data-flip="true"][data-view="columns"] [data-section="2"] .copy .icon-arrow-left,
[data-flip="true"][data-view="columns"] [data-section="2"] .sync .icon-arrow-left {
  display: none; }

[data-flip="true"][data-view="rows"] .splitview {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse; }

[data-flip="true"][data-view="rows"] [data-section="1"] .dropdown .copy .icon-arrow-down,
[data-flip="true"][data-view="rows"] [data-section="1"] .dropdown .sync .icon-arrow-down {
  display: none; }

[data-flip="true"][data-view="rows"] [data-section="2"] .dropdown .copy .icon-arrow-up,
[data-flip="true"][data-view="rows"] [data-section="2"] .dropdown .sync .icon-arrow-up {
  display: none; }

[data-flip="false"][data-view="columns"] [data-section="1"] .copy .icon-arrow-left,
[data-flip="false"][data-view="columns"] [data-section="1"] .sync .icon-arrow-left {
  display: none; }

[data-flip="false"][data-view="columns"] [data-section="2"] .copy .icon-arrow-right,
[data-flip="false"][data-view="columns"] [data-section="2"] .sync .icon-arrow-right {
  display: none; }

[data-view="columns"] [data-section="1"] .dropdown .section2 {
  display: none; }

[data-view="columns"] [data-section="2"] .dropdown .section1 {
  display: none; }

[data-view="columns"] .copy .icon-arrow-up,
[data-view="columns"] .copy .icon-arrow-down,
[data-view="columns"] .sync .icon-arrow-up,
[data-view="columns"] .sync .icon-arrow-down {
  display: none; }

[data-view="columns"] .label-single {
  display: none; }

[data-flip="false"][data-view="rows"] [data-section="1"] .copy .icon-arrow-up,
[data-flip="false"][data-view="rows"] [data-section="1"] .sync .icon-arrow-up {
  display: none; }

[data-flip="false"][data-view="rows"] [data-section="2"] .copy .icon-arrow-down,
[data-flip="false"][data-view="rows"] [data-section="2"] .sync .icon-arrow-down {
  display: none; }

[data-view="rows"] .copy .icon-arrow-right,
[data-view="rows"] .copy .icon-arrow-left,
[data-view="rows"] .sync .icon-arrow-right,
[data-view="rows"] .sync .icon-arrow-left {
  display: none; }

[data-view="rows"] .label-single {
  display: none; }

[data-view="rows"] [data-section="1"] .dropdown .section2 {
  display: none; }

[data-view="rows"] [data-section="2"] .dropdown .section1 {
  display: none; }

[data-input] {
  /*ul.right {
		display: none;
	}*/ }

/*[data-section="2"] .bar .show {
	display: none !important;
}*/
.bar .show {
  display: none !important; }

[data-input] .bar .flash,
[data-input] .bar .zoom,
[data-input] .bar .views,
[data-input] .bar .close,
[data-input] .bar .screen {
  display: none; }

[data-input] .bar .show {
  display: block !important; }

* {
  padding: 0;
  margin: 0; }

html,
body,
.splitview {
  height: 100%;
  width: 100%;
  overflow: hidden; }

.splitview {
  font-family: Arial;
  font-size: 14px; }

li {
  list-style: none; }

iframe {
  border: none; }

/*[data-section="panel"],
[data-section="site"] {
	.bar .sync {
		display: none !important;
	}
}*/
[data-view="columns"] {
  /*.button-sync {
		.icon-arrow-up,
		.icon-arrow-down {
			display: none;
		}
	}*/ }
  [data-view="columns"] section {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative; }
    [data-view="columns"] section .iframe {
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1; }
      [data-view="columns"] section .iframe iframe {
        width: 100%; }
  [data-view="columns"] .dropdown li.columns {
    display: none; }
  [data-view="columns"] [data-section="1"] .bar {
    border-right: 1px solid #555; }

[data-view="rows"] li.screen {
  display: none !important; }

[data-view="rows"] .splitview {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

[data-view="rows"] section {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  [data-view="rows"] section .iframe {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
    [data-view="rows"] section .iframe iframe {
      width: 100%; }

[data-view="rows"] .dropdown li.rows {
  display: none; }

[data-view="rows"] [data-section="1"] {
  position: relative; }
  [data-view="rows"] [data-section="1"] .dropdown li.site {
    display: none; }

[data-view="rows"] [data-section="2"] .dropdown li.panel {
  display: none; }

[data-view="rows"] .right {
  display: none; }

.message {
  position: absolute;
  color: #fff;
  text-align: center;
  line-height: 48px;
  right: 0;
  height: 48px;
  width: 0;
  box-sizing: border-box;
  height: 48px;
  opacity: 0;
  -webkit-transition: width 0.3s ease-out, opacity .25s ease-out;
  transition: width 0.3s ease-out, opacity .25s ease-out;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .message img {
    vertical-align: bottom;
    width: 20px;
    height: 20px; }
  .message.message-saved {
    background: #368C3D; }
  .message.message-error {
    background: #b3000a; }
  .message.active {
    opacity: 1;
    width: 56px;
    -webkit-transition: all 0s ease 0s;
    transition: all 0s ease 0s; }

.address {
  display: none; }

[data-section="1"][data-address] .address,
[data-section="2"][data-address] .address {
  display: block; }

.address {
  position: absolute;
  bottom: 0;
  padding: 5px 10px;
  background: #ddd;
  border-top: 2px solid #ddd;
  width: 100%;
  box-sizing: border-box;
  color: #666;
  font-size: 12px;
  font-family: Arial;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5); }

.right li {
  position: relative; }

.dropdown {
  background: #fff;
  position: absolute;
  top: 1px;
  margin-top: 43px;
  z-index: 100;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 10px;
  right: 0; }
  .dropdown:before {
    position: absolute;
    top: -8px;
    right: 15px;
    content: '';
    border-bottom: 12px solid #fff;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent; }
  .dropdown .icon-orientation {
    font-size: 5px; }
  .dropdown .icon-row {
    width: 12px;
    height: 6px;
    background: #000;
    border-radius: 3px;
    display: inline-block; }
  .dropdown .icon-columns {
    width: 6px;
    height: 12px;
    background: #000;
    border-radius: 3px;
    display: inline-block; }
  .dropdown .icon-single {
    width: 12px;
    height: 12px;
    background: #000;
    border-radius: 3px;
    display: inline-block; }
  .dropdown.list li {
    border-bottom: 1px solid #efefef;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50px;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
  .dropdown li {
    color: #000; }
    .dropdown li.resize .icon-right {
      cursor: default; }
    .dropdown li.resize input {
      padding: 5px 10px;
      width: 100%;
      min-width: 100px;
      box-sizing: border-box;
      outline: none;
      border: 1px solid #ccc; }
    .dropdown li .label {
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      padding: 12px 24px;
      padding-left: 0;
      white-space: nowrap; }
      .dropdown li .label:hover {
        color: #777; }
    .dropdown li .icon-right {
      padding: 10px 20px;
      padding-right: 10px;
      text-align: center;
      width: 20px; }
      .dropdown li .icon-right img {
        vertical-align: bottom; }
    .dropdown li:last-child {
      border-bottom: none; }

[data-section="1"] .dropdown .copy .fa-arrow-left,
[data-section="1"] .dropdown .sync .fa-arrow-left {
  display: none; }

[data-section="2"] .dropdown .copy .fa-arrow-right,
[data-section="2"] .dropdown .sync .fa-arrow-right {
  display: none; }

.fa-sort-asc,
.fa-sort-desc {
  height: 9px;
  width: 9px; }

.menus {
  bottom: 0;
  position: absolute;
  left: 0;
  text-transform: uppercase;
  font-size: 12px;
  background: #eee;
  color: #000;
  padding: 0px 10px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border: 1px solid #ccc;
  border-bottom: none;
  border-left: none;
  cursor: pointer; }
  .menus:hover {
    background: #000;
    border: none;
    color: #fff; }

[data-view="section1"] .splitview,
[data-view="section2"] .splitview {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

[data-view="section1"] li.copy,
[data-view="section1"] li.sync,
[data-view="section1"] li.flip,
[data-view="section1"] li.autosync,
[data-view="section1"] li.screen,
[data-view="section2"] li.copy,
[data-view="section2"] li.sync,
[data-view="section2"] li.flip,
[data-view="section2"] li.autosync,
[data-view="section2"] li.screen {
  display: none !important; }

[data-view="section1"] .dropdown li.panel,
[data-view="section2"] .dropdown li.panel {
  display: none; }

[data-view="section1"] .dropdown li.section1 .label-multiple,
[data-view="section1"] .dropdown li.section2 .label-multiple,
[data-view="section2"] .dropdown li.section1 .label-multiple,
[data-view="section2"] .dropdown li.section2 .label-multiple {
  display: none; }

[data-view="section1"] section,
[data-view="section2"] section {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  [data-view="section1"] section .iframe,
  [data-view="section2"] section .iframe {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
    [data-view="section1"] section .iframe iframe,
    [data-view="section2"] section .iframe iframe {
      width: 100%; }

[data-view="section1"] [data-section="2"] {
  display: none; }

[data-view="section1"] .dropdown li.section1 {
  display: none; }

[data-view="section2"] [data-section="1"] {
  display: none; }

[data-view="section2"] .dropdown li.section2 {
  display: none; }

.bar {
  border-bottom: 1px solid #ccc;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #000;
  border-color: #555; }
  .bar .left {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .bar .right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .bar .right > li .button {
      border-left: 1px solid #555;
      color: #fff;
      cursor: pointer;
      height: 43px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .bar .right > li .button:hover {
        color: #999; }
  .bar .url {
    padding: 5px; }
    .bar .url .input {
      background: #555;
      border-radius: 3px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
    .bar .url input {
      width: 100%;
      box-sizing: border-box;
      height: 33px;
      padding: 0 10px;
      font-size: 14px;
      background: transparent;
      outline: none;
      border: none;
      color: #ccc; }
      .bar .url input::-moz-selection {
        background: #555;
        color: #fff; }
      .bar .url input::selection {
        background: #555;
        color: #fff; }
        .bar .url input::-moz-selection:hover {
          color: #fff; }
        .bar .url input::selection:hover {
          color: #fff; }
      .bar .url input:hover {
        color: #fff; }
  .bar .button {
    height: 43px;
    width: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    box-sizing: border-box;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .bar .button img {
      width: 20px;
      height: 20px; }

.sizes {
  display: block; }
  .sizes .title {
    padding: 20px 20px 10px 20px; }
  .sizes .size-list {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse; }
    .sizes .size-list td {
      border: 1px solid #ddd;
      width: 33.33%; }
  .sizes .size {
    box-sizing: border-box;
    font-size: 14px;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    .sizes .size.active .size-inside {
      background: #368C3D;
      color: #fff;
      border-top: 2px solid #368C3D; }
  .sizes .size-inside {
    padding: 10px 0;
    text-align: center;
    background: #f5f5f5;
    border-top: 2px solid transparent; }
    .sizes .size-inside:hover {
      background: #eee;
      border-top: 2px solid #ddd; }

.size-form {
  width: 200px; }
  .size-form .size-form-inside {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 40px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px; }
    .size-form .size-form-inside > * {
      min-width: 0 !important;
      width: 50% !important;
      outline: none;
      border: 1px solid #eee;
      border-bottom: 1px solid #ccc;
      box-sizing: border-box; }
  .size-form input,
  .size-form select {
    background: #fff !important;
    height: 40px;
    padding-left: 10px !important;
    font-family: Arial;
    font-size: 14px; }
  .size-form input {
    margin-right: 5px; }
  .size-form select {
    margin-left: 5px; }

.zoom img {
  height: 20px;
  width: 20px;
  vertical-align: bottom; }

.zoom .title {
  padding-bottom: 20px; }

.zoom .zoom-form {
  padding: 20px;
  padding-bottom: 10px; }
  .zoom .zoom-form .zoom-group {
    border: 1px solid #ddd;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .zoom .zoom-form .zoom-plus,
  .zoom .zoom-form .zoom-minus {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 40px; }
  .zoom .zoom-form .zoom-button {
    background: #f5f5f5;
    border-top: 2px solid transparent;
    height: 40px;
    width: 40px;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: flex;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    .zoom .zoom-form .zoom-button:hover {
      background: #eee; }
  .zoom .zoom-form .zoom-plus .zoom-button {
    border-left: none; }
  .zoom .zoom-form .zoom-minus .zoom-button {
    border-right: none; }
  .zoom .zoom-form input {
    width: 70px;
    height: 40px;
    padding-left: 10px;
    padding-right: 2px;
    outline: 0;
    border: none;
    box-sizing: border-box;
    font-family: Arial;
    font-size: 14px; }

.zoom .zoom-reset {
  padding: 20px;
  padding-top: 0; }

.zoom .zoom-reset-button {
  background: #fafafa;
  border: 1px solid #ddd;
  border-bottom: 2px solid #ccc;
  padding: 10px;
  text-align: center;
  cursor: pointer; }
  .zoom .zoom-reset-button:hover {
    background: #eee; }

.dfw-return {
  cursor: pointer;
  background: #ddd;
  width: 100%;
  height: 10px;
  overflow: hidden; }

.dfw-return img {
  width: 20px;
  height: 20px;
  vertical-align: bottom;
  display: block;
  margin: 0 auto;
  margin-top: -3px; }

[data-free] .splitview {
  height: calc( 100% - 10px); }

[data-free] .bar {
  display: none; }

.splitview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%; }

.debug {
  display: none !important; }
